body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    color: #FFFFFF;
    background: #1f1f1f;
    --toastify-color-dark: #1f1f1f;
    --toastify-color-progress-dark: #497f9c;
}